tools.ini
Output.xlsx
VMware_Output.xlsx
AD_Output.xlsx
VMware_Assessment.xlsx
/Reports
/PortableGit
/build
CCS-Tools-Launcher.spec
Launcher.py
Launcher.spec
/dist
/OLD
/ExeBuild
PortableGit.7z.Exe
/Update/GitPortable